
  <h1>♡ ˚ʚ♡ɞ˚ Lista de APIs ˚ʚ♡ɞ˚♡</h1>
  <ng-container class="contenedor">
    <button [routerLink]="'final-space'">
      <img src="assets/final-space-characters.png" alt="">
    </button>
    <button [routerLink]="'monster-hunter'">
      <img src="assets/monster-hunter-weapons.png" alt="">
    </button>
    <button [routerLink]="'pokemon'">
      <img src="assets/pokemon-tcg.jfif" alt="">
    </button>
    <button [routerLink]="'valorant'">
      <img src="assets/valorant-agents.webp" alt="">
    </button>


  </ng-container>

  <app-bottom-nav></app-bottom-nav>
