<header class="header">
  <button [routerLink]="'inicio'"> < Pa atrás</button>
  <h1 class="text-center">MONSTER HUNTER API</h1>
</header>

@defer (when apiData) {
  <div class="row">
    <div class="col-12 my-2">
    </div>

    @for (agent of apiData.data; track agent.uuid) {
      <div class="col-xl-3 col-lg-4 col-sm-6 my-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h5>{{ agent.displayName }}</h5>
            </div>
          </div>

          <div class="avatar-container">
            <img src="{{ agent.bustPortrait }}" alt="Imagen de {{ agent.displayName }}" class="img-fluid">
          </div>

          <div class="card-body">
            <p><strong>Rol: </strong><span>{{ agent.role?.displayName || 'Desconocido' }}</span></p>
            <p><strong>Disponible: </strong><span>{{ agent.isAvailableForTest }}</span></p>
            <p><strong>Descripcion: </strong><span>{{ agent.description }}</span></p>
          </div>
        </div>
      </div>
    }
  </div>
}

@placeholder (minimum 500ms) {
  <div class="loading-container">
    <div class="spinner"></div>
    <p>Cargando...</p>
  </div>
}
<app-bottom-nav></app-bottom-nav>
